<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Q0+Xwxe34OtQxq+337BXmV0flP3gPAxGPzrQTgbcrGELodszGEhbb3IgZx0hjbhHdybgwNySPb4QLzUR9KbYkSv68SxxwiUuHvi0uuVEfEN3JuDA3JI9vgAny14mH5KqqfBhdbZM6uSEhWLTlr1gwwjeWTdYlHAYo2E+ogOCWrQ8kE9Rr5u73pQ78+ouOjfM"/>
	</appSettings>
</configuration>