<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="sp0krYNEiIyxsybmuSW6owLX5YlZ4JtCZgN8lSyLzOADrjpnf5H630BGrWoTFnyYG70LJ8ir47ELyLKg8gC1jU7bp6/WXrd5nnD+ika+YszoM7ZbT93WhVJR+5YlESeD/nfxtOoYMSYDrjpnf5H631tQrCFALJ6BnvaKWZKKM7A="/>
	</appSettings>
</configuration>